pre: <%= @pre %>
<Phoenix.LiveViewTest.FunctionComponent.render_with_inner_content value="the value">
  The inner content
</Phoenix.LiveViewTest.FunctionComponent.render_with_inner_content>
post: <%= @post %>
